<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
		xmlns:cewrap="http://typo3.org/ns/SBTheke/Cewrap/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:spaceless>
	<bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
	<f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
	<f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
	<f:if condition="{columnConfig}">
		<bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
	</f:if>

	<f:variable name="frameClass">frame-{data.frame_class}</f:variable>
	<f:variable name="typeClass">frame-type-{data.CType}</f:variable>
	<f:variable name="layoutClass">frame-layout-{data.layout}</f:variable>
	<f:variable name="backgroundClass">frame-background-{f:if(condition: data.background_color_class, else: 'none', then: data.background_color_class)}</f:variable>
	<f:variable name="spaceBeforeClass">frame-space-before-{f:if(condition: data.space_before_class, else: 'none', then: data.space_before_class)}</f:variable>
	<f:variable name="spaceAfterClass">frame-space-after-{f:if(condition: data.space_after_class, else: 'none', then: data.space_after_class)}</f:variable>

	<f:if condition="{data.frame_class} != none">
		<f:variable name="cewrapClass">frame-{data.frame_class}</f:variable>
	</f:if>
	<f:if condition="{data.layout}">
		<f:variable name="cewrapClass">{cewrapClass} frame-layout-{data.layout}</f:variable>
	</f:if>
	<f:if condition="{data.tx_cewrap_active}">
		<f:if condition="{data.tx_cewrap_type}">
			<f:variable name="cewrapClass">{cewrapClass} frame-type-{data.CType}</f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_class_input}">
			<f:variable name="cewrapClass">{cewrapClass} {data.tx_cewrap_class_input}</f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_class_select}">
			<f:variable name="cewrapClass">{cewrapClass} <cewrap:classSelect>{data.tx_cewrap_class_select}</cewrap:classSelect></f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_id_input}">
			<f:variable name="cewrapId">{data.tx_cewrap_id_input}</f:variable>
		</f:if>
	</f:if>
	<f:if condition="{cewrapClass} || {cewrapId}">
		<f:then>
			<f:if condition="{cewrapId}">
				<f:then>
					<a id="c{data.uid}"></a>
				</f:then>
				<f:else>
					<f:variable name="cewrapId">c{data.uid}</f:variable>
				</f:else>
			</f:if>
			<f:variable name="backgroundImageClass">{f:if(condition: backgroundImage.0, then: 'frame-has-backgroundimage', else: 'frame-no-backgroundimage')}</f:variable>
			<div id="{cewrapId}" class="frame {cewrapClass} {backgroundClass} {backgroundImageClass} {spaceBeforeClass} {spaceAfterClass}">
				<f:render partial="Frame/General/BackgroundImage" arguments="{_all}" />
				<div class="frame-container">
					<div class="frame-inner">
						<f:if condition="{data._LOCALIZED_UID}">
							<a id="c{data._LOCALIZED_UID}"></a>
						</f:if>
						<f:render section="Before" optional="true">
							<f:render partial="DropIn/Before/All" arguments="{_all}" />
						</f:render>
						<f:render section="Header" optional="true">
							<f:render partial="Header/All" arguments="{_all}" />
						</f:render>
						<f:render section="Main" optional="true" />
						<f:render section="Footer" optional="true">
							<f:render partial="Footer/All" arguments="{_all}" />
						</f:render>
						<f:render section="After" optional="true">
							<f:render partial="DropIn/After/All" arguments="{_all}" />
						</f:render>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<a id="c{data.uid}"></a>
			<f:if condition="{data._LOCALIZED_UID}">
				<a id="c{data._LOCALIZED_UID}"></a>
			</f:if>
			<f:if condition="{data.space_before_class}">
				<div class="{spaceBeforeClass}"></div>
			</f:if>
			<f:render section="Before" optional="true">
				<f:render partial="DropIn/Before/All" arguments="{_all}" />
			</f:render>
			<f:render section="Header" optional="true">
				<f:render partial="Header/All" arguments="{_all}" />
			</f:render>
			<f:render section="Main" optional="true" />
			<f:render section="Footer" optional="true">
				<f:render partial="Footer/All" arguments="{_all}" />
			</f:render>
			<f:render section="After" optional="true">
				<f:render partial="DropIn/After/All" arguments="{_all}" />
			</f:render>
			<f:if condition="{data.space_after_class}">
				<div class="{spaceAfterClass}"></div>
			</f:if>

		</f:else>
	</f:if>
</f:spaceless>
</html>
