<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:cewrap="http://typo3.org/ns/SBTheke/Cewrap/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="{data.frame_class} != none">
		<f:variable name="cewrapClass">frame-{data.frame_class}</f:variable>
	</f:if>
	<f:if condition="{data.layout}">
		<f:variable name="cewrapClass">{cewrapClass} frame-layout-{data.layout}</f:variable>
	</f:if>
	<f:if condition="{data.tx_cewrap_active}">
		<f:if condition="{data.tx_cewrap_type}">
			<f:variable name="cewrapClass">{cewrapClass} frame-type-{data.CType}</f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_class_input}">
			<f:variable name="cewrapClass">{cewrapClass} {data.tx_cewrap_class_input}</f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_class_select}">
			<f:variable name="cewrapClass">{cewrapClass} <cewrap:classSelect>{data.tx_cewrap_class_select}</cewrap:classSelect></f:variable>
		</f:if>
		<f:if condition="{data.tx_cewrap_id_input}">
			<f:variable name="cewrapId">{data.tx_cewrap_id_input}</f:variable>
		</f:if>
	</f:if>
	<f:if condition="{cewrapClass} || {cewrapId}">
		<f:then>
			<f:if condition="{cewrapId}">
				<f:then>
					<a id="c{data.uid}"></a>
				</f:then>
				<f:else>
					<f:variable name="cewrapId">c{data.uid}</f:variable>
				</f:else>
			</f:if>
			<div id="{cewrapId}" class="frame {cewrapClass}{f:if(condition: data.space_before_class, else: ' frame-space-before-none', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, else: ' frame-space-after-none', then: ' frame-space-after-{data.space_after_class}')}">
				<f:if condition="{data._LOCALIZED_UID}">
					<a id="c{data._LOCALIZED_UID}"></a>
				</f:if>
				<f:render section="Before" optional="true">
					<f:render partial="DropIn/Before/All" arguments="{_all}" />
				</f:render>
				<f:render section="Header" optional="true">
					<f:render partial="Header/All" arguments="{_all}" />
				</f:render>
				<f:render section="Main" optional="true" />
				<f:render section="Footer" optional="true">
					<f:render partial="Footer/All" arguments="{_all}" />
				</f:render>
				<f:render section="After" optional="true">
					<f:render partial="DropIn/After/All" arguments="{_all}" />
				</f:render>
			</div>
		</f:then>
		<f:else>
			<a id="c{data.uid}"></a>
			<f:if condition="{data._LOCALIZED_UID}">
				<a id="c{data._LOCALIZED_UID}"></a>
			</f:if>
			<f:if condition="{data.space_before_class}">
				<div class="frame-space-before-{data.space_before_class}"></div>
			</f:if>
			<f:render section="Before" optional="true">
				<f:render partial="DropIn/Before/All" arguments="{_all}" />
			</f:render>
			<f:render section="Header" optional="true">
				<f:render partial="Header/All" arguments="{_all}" />
			</f:render>
			<f:render section="Main" optional="true" />
			<f:render section="Footer" optional="true">
				<f:render partial="Footer/All" arguments="{_all}" />
			</f:render>
			<f:render section="After" optional="true">
				<f:render partial="DropIn/After/All" arguments="{_all}" />
			</f:render>
			<f:if condition="{data.space_after_class}">
				<div class="frame-space-after-{data.space_after_class}"></div>
			</f:if>
		</f:else>
	</f:if>
</f:spaceless>
</html>
